<h2>User info</h2>
<table>
 <tr><%= image_tag current_user.get_profile_image(100,100) %></tr>
 <tr>
  <th>name</th>
  <th><%= current_user.name %></th>
 </tr>
 <tr>
  <th>introduction</th>
  <th><%= current_user.introduction %></th>
 </tr>
</table>

<% if user == current_user %>
 <%= link_to "プロフィール編集", edit_user_path(user) %>
<% end %>

<h2>New book</h2>
  <%= form_with model: @book, local:true do |f| %>
   <label class="inputTitle">Title</label>
   <p><%= f.text_field :title, id:"inputTitle"%></p>

   <label class="inputOpinion">Opinion</label>
   <p><%= f.text_area :body, id:"inputOpinion" %></p>

   <p><%= f.submit 'Create Book' %></p>

  <% end %>
